* {
  // border: 1px solid;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "微軟正黑體";
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233444;

  .head__text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container__text {
    font-size: 25px;
    font-weight: bold;
    margin: 50px 0px 30px 0px;
  }

  .container__text__message {
    font-size: 15px;
    margin: 10px 0px;
  }

  .container__text__message__member {
    font-size: 15px;
    margin: 10px 0px;
    font-weight: bold;
  }

  .container__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 5px 0px;
    // flex-direction: column;

    .container__user__text {
      font-size: 20px;
      margin: 0px 5px 0px 0px;
    }

    input[type="text"] {
      height: 25px;
      padding: 5px;
    }

    input[type="password"] {
      height: 25px;
      padding: 5px;
    }
  }

  .container__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;

    .container__checkbox__text {
      font-size: 20px;
      margin: 0px 5px;
    }
  }

  .container__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;

    input[type="submit"] {
      padding: 5px;
      font-size: 15px;
      cursor: pointer;
    }
  }

  .container__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    .container__count__text {
      margin: 0px 5px 0px 0px;
    }

    input[type="text"] {
      height: 25px;
      padding: 5px;
    }
  }

  .container__button {
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
  }
}

.cutLine {
  margin: 50px 0px 0px 0px;
}
